{% extends 'base.html' %} 
{% block title %} Directorio {% endblock %} 

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
    body { font-family: 'Plus Jakarta Sans', sans-serif; }
</style>

<div class="min-h-screen flex justify-center mx-auto max-w-7xl px-0 md:px-4">
    
    {% include 'foro/partials/sidebar.html' %}

    <main class="w-full md:flex-1 md:max-w-2xl min-h-screen md:px-6 pb-24 md:pb-8">
        
        <div class="px-4 py-4 md:pt-8 sticky top-0 bg-[#F8F9FA]/90 backdrop-blur-md z-20 flex items-center justify-between gap-4">
            <div onclick="toggleSidebar()" class="cursor-pointer transition-transform active:scale-95 flex-shrink-0 md:hidden">
                {% if request.user.avatar %}
                    <img src="{{ request.user.avatar.url }}" class="w-10 h-10 rounded-full object-cover shadow-sm">
                {% else %}
                    <div class="w-10 h-10 rounded-full bg-[#093D77] text-white flex items-center justify-center font-bold text-xs uppercase shadow-sm">
                        {{ request.user.username|make_list|first }}
                    </div>
                {% endif %}
            </div>
            
            <form action="{% url 'explorar' %}" method="get" class="relative group flex-grow">
                <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none">
                    <svg viewBox="0 0 24 24" class="w-5 h-5 text-[#3A7CA5] group-focus-within:text-[#093D77] transition-colors fill-current"><path d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"></path></svg>
                </div>
                <input type="text" 
                       name="q_usuarios" 
                       value="{{ query }}" 
                       placeholder="Buscar estudiantes o profesores" 
                       autocomplete="off"
                       hx-get="{% url 'explorar' %}" 
                       hx-trigger="keyup changed delay:300ms, search" 
                       hx-target="#resultados-busqueda" 
                       class="w-full bg-white text-[#2B2B2B] rounded-2xl py-3.5 pl-12 pr-4 outline-none focus:ring-2 focus:ring-[#093D77] border-none shadow-sm transition-all font-semibold placeholder-[#3A7CA5]/60" 
                       autofocus>
            </form>
        </div>

        <div id="resultados-busqueda" class="flex flex-col gap-3 px-4 pt-2">
            {% include 'foro/partials/resultados_usuarios.html' %}
        </div>
    </main>

    <aside class="hidden lg:block w-80 pl-8 py-3 sticky top-0 h-screen"></aside>

   {% include 'foro/partials/nav_mobile.html' %}
</div>
{% endblock %}