{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="htmx-config" content='{"historyCacheSize": 10}' />
    <title>{%block title%} {%endblock%}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <style>
      html {
        scrollbar-gutter: stable;
        overflow-y: scroll;
      }
    </style>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
  </head>
  <body hx-boost="true">
    {%block content%} {%endblock%}
  </body>
</html>
